<div class="collection_banner_bg collection_banner_bg_desktop" style="background-image: url('{{ collection.metafields.custom.header_image_desktop.value | image_url: width: 1920  }}');">
  <div class="manufacturer_banner_holder">
    <div class="manufacturer_banner_bg_bullet_points">
      <ul>
        <li>Officially licenced Tailored to fit car mats</li>
        <li>Added personalisation available</li>
        <li>Free UK delivery</li>
      <ul>
    </div>
  </div>
</div>

<div class="collection_banner_bg collection_banner_bg_mobile" style="background-image: url('{{ collection.metafields.custom.header_image_mobile.value | image_url: width: 600  }}');">
  <div class="manufacturer_banner_holder manufacturer_banner_holder_collection_mobile">
    <div class="manufacturer_banner_bg_bullet_points">
      <ul>
        <li>Officially licenced Tailored to fit car mats</li>
        <li>Added personalisation available</li>
        <li>Free UK delivery</li>
      <ul>
    </div>
  </div>
</div>

<input type="hidden" id="category_banner" value="1">