<div class="page-width center">
  <h1 class="manufacturer_banner_h1">{{- collection.title | escape -}}</h1>
  <div class="rte">{{ collection.description }}</div>
</div>
<script type="application/ld+json">{ "@context" : "http://schema.org/", "@type" : "Product", "name" : "Car Floor Mats & Boot Liner Mats", "aggregateRating" : { "@type" : "AggregateRating", "ratingValue" : "4.8", "bestRating" : "5", "worstRating" : "1", "reviewCount" : "5286" } }</script>