<section class="page-width">
	<form id="fMCDropdownForm">
		
		<div class="find_my_car_holder">
			
			<div class="find_my_car_title">FIND YOUR CAR MATS</div>
	
			<div class="grid grid--1-col grid--3-col-tablet"> 
				
				<div class="grid__item">
					<select id="fMCDManufacturer" class="find_my_car_select select__select">
						<option value="">MAKE</option>
						{%- for product_vendor in shop.vendors -%}
						<option value="{{ product_vendor | handleize }}">{{ product_vendor }}</option>
						{%- endfor -%}
					</select>
				</div>
			
				<div class="grid__item">
					<select id="fMCDModel" class="find_my_car_select select__select">
						<option value="">MODEL</option>
					</select>
				</div>
			
				<div class="grid__item">
					<select id="fMCDVariant" class="find_my_car_select select__select">
						<option value="">YEAR / TYPE</option>
					</select>
				</div>
			
			</div>
				
		</div>
		
	</form>
	
	<form id="fMCLookupForm">
		<div class="grid grid--1-col grid--2-col-tablet grid_centerer">
			<div class="grid__item">
				
				<div class="field">
					<input id="fMCLookupInput" type="text" name="" class="field__input" value="" aria-required="true" autocorrect="off" autocapitalize="off" placeholder="SEARCH BY REGISTRATION" required="">
					<label class="field__label" for="NewsletterForm--footer">
						SEARCH BY REGISTRATION
					</label>
					<button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="Subscribe">
						<svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
</path></svg>

					</button>
				</div>
				
				
				<div id="fMCLookupResponse"></div>
				
				<br><br>
				<b>Some reg numbers for testing:</b><br><br>
				VA64JFU is a VOLKSWAGEN GOLF MATCH TDI BMT 2015<br>
				K15HJA is a CITROEN C4 PICASSO VTR + E-HDI S-A 2015<br>
				YA16AOE is a JAGUAR XE R-SPORT D AUTO 2016<br>
				EX70AEE is a VOLKSWAGEN POLO MATCH TSI S-A 2020<br>
				Y748PLA is a MERCEDES C240 ELEGANCE AUTO 2001<br>
				KAZ7744 is a AUDI A4 QUATTRO 1996<br>
				FA16MDZ is a VOLKSWAGEN TRANSPORTER T28 H-LN TDI BMT 2016<br>
				NH07AXV is a LAND ROVER FREELANDER GS TD4 2007<br>
				V16DKA is a NISSAN PATHFINDER T-SPEC DCI174A 2006<br>
				MM69WZA is a VOLKSWAGEN GOLF MATCH EDITION TSI EV 2020<br>
				
			</div>
		</div>
	</form>
	

	
	
	
</section>




<input type="hidden" id="collectionHandle" value="{{ collection.handle }}">



<script>

let collectionHandle = '';

if (document.querySelector("#collectionHandle") && document.querySelector("#collectionHandle").value) {
	let collectionHandle_input = document.querySelector("#collectionHandle");
	collectionHandle = '/collections/' + collectionHandle_input.value;
	console.log(collectionHandle);
} 


window.theme = window.theme || {};

window.theme.mam = {% render "lookup_json" %};

(function(){
	
	let manufacturer_handle = 'alfa-romeo-car-mats';
	
	
	let my_manufacturer = window.theme.mam.manufacturers.find(function(manufacturer){
		return manufacturer.shopify_handle === manufacturer_handle
	});
	
	console.table(my_manufacturer.models);
	
	my_manufacturer.models.forEach(function(model){
		console.log(model.name);
	});
	
	let models_html = my_manufacturer.models.map(function(model){
		return `<option value="${model.shopify_handle}">${model.name}</option>`
	});
	
	let models_html_shortened = my_manufacturer.models.map(model => `<option value="${model.shopify_handle}">${model.name}</option>`);
	
	console.log(models_html.join(''));
	console.log(models_html_shortened.join(''));
	
})();




if (document.querySelector("#fMCDManufacturer")) {

	let manufacturer = '';
	let model = '';

	const fMCDForm = document.querySelector("#fMCDropdownForm");
	
	const fMCDManufacturer = fMCDForm.querySelector("#fMCDManufacturer");
	const fMCDModel = fMCDForm.querySelector("#fMCDModel");
	const fMCDVariant = fMCDForm.querySelector("#fMCDVariant");
	
	fMCDManufacturer.addEventListener('change', (event) => {

		manufacturer = event.target.value;

		console.log(manufacturer);
		
		/*
		if (typeof manufacturers_and_models[manufacturer] != 'undefined') {
	
			fMCDModel.innerHTML = '<option value="">MODEL</option>';
			fMCDVariant.innerHTML = '<option value="">YEAR / TYPE</option>';
	
			let models = manufacturers_and_models[manufacturer]['models'];
	
			for (key in models) {
	
				let opt = document.createElement("option");
				opt.value = models[key]['handle'];
				opt.text = models[key]['display_name'];
				fMCDModel.add(opt);
	
			}
			fMCDModel.focus();
		}	
		*/
	});
	
	

	fMCDModel.addEventListener('change', (event) => {
	
		model = event.target.value;
		
		if (typeof manufacturers_and_models[manufacturer]['models'][model] != 'undefined') {
		
			fMCDVariant.innerHTML = '<option value="">YEAR / TYPE</option>';
	
			let variants =  manufacturers_and_models[manufacturer]['models'][model]['variants'];
	
			for (key in variants) {
		
				let opt = document.createElement("option");
				opt.value = variants[key]['handle'];
				opt.text = variants[key]['display_name'];
				fMCDVariant.add(opt);
	
			}
			fMCDVariant.focus();
		}
	});
	
	fMCDVariant.addEventListener('change', (event) => {
		
		let handle = event.target.value;
	
		if (handle.length > 0) {
			window.location.href = handle;
		}
	
	});
	
	
}



if (document.querySelector("#fMCLookupForm")) {

	const fMCLookupForm = document.querySelector("#fMCLookupForm");
	let fMCLookupInput = document.querySelector("#fMCLookupInput");
	let fMCLookupResponse = document.querySelector("#fMCLookupResponse");
	
		
	fMCLookupForm.addEventListener('submit', (event) => {
		
		event.preventDefault();

		let formData = {
			reg: fMCLookupInput.value,
			collectionHandle: collectionHandle
		};
		
		fetch("http://officialcarmats-co-uk.stackstaging.com/proc_lookup.php", {
			method: "POST",
			body:  JSON.stringify(formData)
		})
		.then((response) => response.json())
		.then(function(data){ 
			console.log(data)
			fMCLookupResponse.innerHTML = data.output;
			// https://stackoverflow.com/questions/3795481/javascript-slidedown-without-jquery
		});
		
	
	});
	
}

	
</script>







{% schema %}
	{
		"name": "Find my car",
		"settings": [],
		"presets": [
			{
				"name": "Find my car",
				"category": "Custom Sections"
			}
	]
	}
{% endschema %}

{% stylesheet %}


{% endstylesheet %}

{% javascript %}



{% endjavascript %}
