{% capture modelhandles %}{% render "manufacturers", handle: collection.handle %}{% endcapture %}

{%- assign handles = modelhandles | split: "," %}

<h2>{{ modelhandles }}</h2>

{%- for handle in handles %}

{%- assign model = collections[handle] %}

<li><a href="{{ model.url }}">{{ model.title }}</a></li>

{%- endfor %}