<div class="page-width">
	<div class="models-list_holder grid_centerer grid grid--1-col grid--3-col-tablet grid--one-third-max grid--3-col-desktop">

{%- assign manufacturer_handle = collection.handle -%}
{%- assign manufacturer_handle_no_ext = collection.handle | remove: "-car-mats" | remove: "-boot-liners" -%}
{%- assign manufacturer_name_no_ext = collection.title | remove: "Custom Floor Mats to fit " | remove: "Custom Car Boot Liners to fit " | remove: " cars" -%}

{%- capture manufacturer_handles %}{%- render "lookup", key: manufacturer_handle_no_ext -%}{% endcapture -%}
{%- assign handles = manufacturer_handles | split: "," -%}

{%- for handle in handles -%}

	{%- assign model = '' -%}
	
	{%- if handle contains "boot" -%}
		
		{%- assign extension = "Boot Liners" -%}
		{%- assign model = collections[handle] -%}
		
	{%- else -%}
	
		{%- if manufacturer_handle contains "boot" -%}
		
		{%- else -%}
			{%- assign extension = "Floor Mats" -%}
			{%- assign model = collections[handle] -%}
		{%- endif -%}
		
	{%- endif -%}
	
	{%- if model != blank -%}
	
	<div class="grid__item">
		
		<a href="{{ model.url }}" class="models-list_block_link">
		
			<div class="models-list_block">
			
				<div class="models-list_block_text">
				{{ model.title | remove_first: manufacturer_name_no_ext | remove: "Custom Floor Mats to fit " | remove: "Custom Car Boot Liners to fit " | remove: " cars" }}<br>{{ extension }}
				</div>
			
			</div>
		</a>
	</div>
	
	{%- endif -%}
	
{%- endfor -%}


	</div>
</div>