<div class="page-width">

{%- liquid

	assign menu_handle = "rugby-teams"
	
	capture menu_handles
	render "menulinks", handle: menu_handle
	endcapture
	
	assign handles = menu_handles | split: ","
	
	
	capture collection_grid
	render "collection-grid-from-handles", handles: handles
	endcapture
	
	echo collection_grid
	
-%}

</div>