.image-with-text-about {
  margin-top: 5rem;
}

.image-with-text-about:not(.color-scheme-background-1) {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .image-with-text-about {
    margin-bottom: calc(5rem + var(--page-width-margin));
  }
}

.image-with-text-about .grid {
  margin-left: 0;
  margin-bottom: 0;
}

.image-with-text-about__grid {
  overflow: hidden;
}

@media screen and (min-width: 750px) {
  .image-with-text-about__grid--reverse {
    flex-direction: row-reverse;
  }
}

.image-with-text-about__media {
  background-color: transparent;
  min-height: 100%;
}

.image-with-text-about__media--small {
  height: 19.4rem;
}

.image-with-text-about__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .image-with-text-about__media--small {
    height: 31.4rem;
  }

  .image-with-text-about__media--large {
    height: 69.5rem;
  }
}

.image-with-text-about__media--placeholder {
  background-color: rgba(var(--color-foreground), 0.04);
  position: relative;
  overflow: hidden;
}

.image-with-text-about__media--placeholder.image-with-text-about__media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .image-with-text-about__media--placeholder.image-with-text-about__media--adapt {
    height: 30rem;
  }
}

.image-with-text-about__media--placeholder > svg {
  position: absolute;
  left: 50%;
  max-width: 80rem;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  fill: currentColor;
}

.image-with-text-about__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: start;
  padding: 4rem 0 5rem;
}

@media screen and (min-width: 750px) {
  .image-with-text-about__grid--reverse .image-with-text-about__content {
    margin-left: auto;
  }
}

@media screen and (min-width: 990px) {
  .image-with-text-about__content {
    padding: 0 0 4rem 4rem;
  }
}

.image-with-text-about__content > * + * {
  margin-top: 2rem;
}

.image-with-text-about__content > .image-with-text-about__text:empty ~ a {
  margin-top: 2rem;
}

.image-with-text-about__content > :first-child:is(.image-with-text-about__heading) {
  margin-top: 0;
}

.image-with-text-about__content :last-child:is(.image-with-text-about__heading) {
  margin-bottom: 0;
}

.image-with-text-about__content .button + .image-with-text-about__text {
  margin-top: 2rem;
}

.image-with-text-about__content .image-with-text-about__text + .button {
  margin-top: 3rem;
}

.image-with-text-about__heading {
  margin-bottom: 0;
  text-transform: initial;
}

.image-with-text-about__text p {
  margin-top: 0;
  margin-bottom: 1rem;
}
